@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-bege: #D9D1C7;
    --cor-rosa: #BF5687;
    --cor-branco: #fafafa;
    --cor-cinzaclaro: rgb(241, 241, 241);
    --cor-preta: #2e2e2e;
    --cor-cinza: #b3b3b3;
}

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.container{
    background-color: var(--cor-bege);
    width: 100%;
    padding:10px;
    min-height: 100vh;
}


.todo{
    background-color: var(--cor-branco);
    width: 100%;
    max-width: 500px;
    margin: 100px auto 20px ;
    padding: 30px 40px 90px ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.todo h1{
    color: var(--cor-rosa);
    font-weight: 700;
    font-size: 25px;
    margin-bottom: 25px;
    display: flex;

}

.input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;
    border: none;
    background-color: var(--cor-cinzaclaro);
    padding-left: 20px;
    margin-bottom: 45px;
    border-radius: 50px;
    outline: none;
}



input{
    font-size: 14px;
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
}

#btn{
    background-color: var(--cor-bege);
    border: none;
    padding: 7px 25px;
    border-radius: 20px;
    color: var(--cor-preta);
    cursor: pointer;
    font-weight: 600;

}

#btn:hover{
 background-color: #BF5687;
 color: var(--cor-branco);
}

ol li{
    list-style: none;
    font-size: 15px;
    color: var(--cor-preta);
    font-weight: 500;
    margin-top: 10px;
    padding: 5px 1px 3px 40px;
    cursor: pointer;
    text-transform: capitalize;
    position: relative;

}

#btnok{
    background-color: var(--cor-rosa);
    border: none;
    border-radius: 20px;
    padding: 3px 8px;
    cursor: pointer;
    position: absolute;
    left: 1px;
    bottom: 0.5px;
}

*::selection{
    background-color: #D9D1C7;
}


