@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

.container{
    background-color: #BF9673;
    width: 100%;
    padding:10px;
    min-height: 100vh;
}

.todo{
    background-color: #F2F2F2;
    width: 100%;
    max-width: 550px;
    margin: 100px auto 20px ;
    padding: 35px 20px 80px ;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 15px;
}

.todo h1{
    color: #F24150;
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}

.input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;
    border: none;
    background-color: rgb(226, 226, 226);
    padding-left: 20px;
    margin-bottom: 10px;
    border-radius: 50px;
    outline: none;
}

input{
    font-size: 14px;
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
}

button{
    background-color: #F24150;
    border: none;
    padding: 8px;
    border-radius: 20px;
    color: #F2F2F2;
    cursor: pointer;
    font-weight: 600;
}

ul li{
    list-style: none;
    font-size: 15px;
    color: #402421;
    font-weight: 400;
    padding: 10px 3px;
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 30px;
}